<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--webjars-locaterを依存ライブラリに加えた状態で以下の記述をすると、パスからバージョン番号を隠蔽できる。-->
    <!--参考：https://stackoverflow.com/questions/35768043/spring-webjars-locator-and-context-path-->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<h2>Todo app</h2>

<h3>Add</h3>
<form method="post" th:action="@{/todo/new}">
    <input type="text" name="title"/>
    <input type="submit" value="submit"/>
</form>

<h3>List</h3>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <img th:if="${nodes.isEmpty()}" src="/img/gohoubi.jpg" height="600" width="800" alt="gohoubi"/>
    <tr th:each="node : ${nodes}">
        <td th:text="${node.title}">xxx</td>
        <td>
            <!--参考：http://blog.okazuki.jp/entry/2015/07/20/134739-->
            <form method="post" th:action="@{/todo/done}" th:object="${node}">
                <input type="hidden" name="id" th:value="*{id}"/>
                <input type="submit" value="Done"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>